    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('http://www.planwallpaper.com/static/images/6768666-1080p-wallpapers.jpg');">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>Dammy's Blog</h1>
                        <hr class="small">
                        <span class="subheading">Bringing You The Latest Entertainment News</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

<%= render "posts/form" %>